body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
ul {
    padding: 0px !important;
}
.main-menu {
    height:60px;
    width: 100%;
    background-color: #000000;
    
}
main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float: left;
    width: 70%;
    padding: 16px; 
}
.social-media ul li {
    margin-left: 25px;
    display: inline-block;
    float: left; 
    list-style: none;
}
.social-media {
    width: 25%;
    float: right;
}
.header-2 {
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 15px;
}
.menu-urls {
    height: 80px;
    border-bottom: 3px solid #efefef;
}
.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;
}
.menu ul li:hover {
    border-bottom: 3px solid #00bac6;
}
.menu ul li a:hover {
    color: #00bac6;
}
.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
.menu {
    width:70%;
    float:left;
}
.search {
    text-align: center;
    width: 30%;
    height: 20px;
    float: right;
}
.search input {
    height : 36px;
    width: 190px;
    padding: 6px;
    position: static;
    background-image: url("../img/icone-search.png");
    background-repeat: no-repeat;
    background-position: 85%;
    border: 1px solid #d6d6d6;
}
.col-100 {
    width: 100%;
    float: left;
    position: relative;
}
button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent; 
    position: absolute;
    background-image: url('../img/anterior.png');
    top: 35%;
    left: 0;
}
button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent; 
    position: absolute;
    background-image: url('../img/proximo.png');
    top: 35%;
    right: 0;
}
.slider-main {
    width: 100%; !important;
}